<launch>
        <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
          <param name="lm" value="$(find turtlebot3)/src/turtlebot3/voice_teleop/config/motion_commands.lm"/>
          <param name="dict" value="$(find turtlebot3)/src/turtlebot3/voice_teleop/config/motion_commands.dic"/>
        </node>
   </launch>